body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(248, 249, 253);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  width: 800px;
  margin: 15px auto;
}

.header-custom {
  background-color: rgb(244, 210, 189);
}

.reg-form-custom-wrapper {
  background-color: rgb(244, 210, 189);
}

.login-custom-wrapper {
  background-color: rgb(244, 210, 189);
}

.btn-secondary {
  border: none;
}

.custom-border {
  border: none;
  border-bottom: 1px solid gray;
  background-color: transparent;
}

.search-form-settings {
  font-size: 20px;
  font-weight: 600;
}